
{% load static %}
<html>
    <head>
        <title>django-polls app</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <body>
        <header>
                <div class="jumbotron text-center">
                        <P><h1><strong>Welcome to the polls app</strong></h1></P>
                        <p><h1><strong><small>by Olatunji joshua Kayode</small></strong></h1></p>
                    </div>
        </header>
            <div class="container">
                <div class="row"> 
                </div>
                <div class="row">
                    <div class="container">
                            <div class=".col-md-4">
                            </div>
                            <div class=".col-md-4">
                                {% block content %}
                                {% endblock     %}
                            </div>
                            <div class=".col-md-4">     
                            </div>
                    </div>
                </div>  
            </div>

            <footer class="">
                    <div class="jumbotron text-center">
                            <strong><em>powered by Django</em></strong>
                        </div>

            </footer>
    </body>
</html>